// /*==============================================================================
// RESET
// ==============================================================================*/

/*==============================================================================
FONTS
==============================================================================*/
@font-face
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;


// /*==============================================================================
// GLOBAL VARIABLES
// ==============================================================================*/

// /*==============================================================================
// GLOBAL MIXINS
// ==============================================================================*/

/*==============================================================================
GLOBAL STYLES
==============================================================================*/
html
	background: url(img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


body
	font-family: 'Lato', sans-serif;
a
	color: black;

ul
	list-style-type: none;
	list-style-position: inside;

/*==============================================================================
Including other components
==============================================================================*/
@import '../maincontentmodule/styles.styl'
