extends global-components/html-document.pug
block body
    include ../svgiconmodule/svgicons.pug
    include ../maincontentmodule/maincontent.pug
    
block styles
    include global-components/styles-include.pug
block scripts
    include global-components/scripts-include.pug