//
    -
          .+sdNMMMMMMMmhs/`        /MMMMm:           .MMMMh       MMMMMMMMMMMMMMMMMMm
        /dMMMMMMMNmNMMMMMMNh:      /MMMMMNs`         .MMMMh       MMMMMMMMMMMMMMMMMMm
      /mMMMMNy/.`   `-+yNMMo       /MMMMMMMd-        .MMMMh       MMMMm``````````````
     oMMMMN/             /-        /MMMMMMMMMs`      .MMMMh       MMMMm
    /MMMMm.                        /MMMM:hMMMMm-     .MMMMh       MMMMm
    dMMMM-                         /MMMM. +NMMMMs`   .MMMMh       MMMMNssssssssssss:
    dMMMM`              :+++.      /MMMM.  .hMMMMm:  .MMMMh       MMMMMMMMMMMMMMMMMs
    hMMMM-              yMMM:      /MMMM.    +NMMMMs`.MMMMh       MMMMNssssssssssss:
    /MMMMm.             yMMM:      /MMMM.     .dMMMMm+MMMMh       MMMMm
     oMMMMN+`           yMMM:      /MMMM.       +NMMMMMMMMh       MMMMm
      :mMMMMNy+-`````:+yNMMM:      /MMMM.        .dMMMMMMMh       MMMMm``````````````
        /dMMMMMMMMNMMMMMMMMd.      /MMMM.          +NMMMMMh       MMMMMMMMMMMMMMMMMMMo
          .+ydNMMMMMMNmho/.        /MMMM.           .hMMMMh       MMMMMMMMMMMMMMMMMMMo
    
    Want to help build the home page and join a cool team? mailto://office@gne.or.at

doctype html
html(lang='de')
    head
        title GNE.or.at
        meta(charset="utf-8")
        link(rel='canonical', href='http://gne.or.at/')
        link(rel='alternate', href='http://gne.or.at/', hreflang='de-at')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', lang='de', content='Wir unterstützen und entwickeln nachhaltige Konzepte und Projekte auf allen Gebieten und fördern die Idee eines nachhaltigen Fortschritts.')
        meta(name='keywords', lang='de', content='nachhaltige Entwicklung')
        meta(property='og:url', content='http://gne.or.at/')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="format-detection" content="telephone=no")
        meta(name="msapplication-tap-highlight" content="no")
        meta(name="theme-color", content="#ffffff")
        block styles
        block scripts
    body 
        block body
